<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Main</title>

        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/var.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
        <% include ../models/header %>

        <!-- Content -->
        <table id="table-header-second">
            <td><td><a href="/add">Ajouter</a></td><td><a href="http://localhost:8081/register">S'enregistrer</a></td></td>
        </table>

        <% var left = true; %>

        <div id="main-content">
            <% cards.dataset.forEach((card) => { %>
                <% if (left == true) { left = false %>
                    <div class="card-main-left">
                        <div class="tag-content">
                            <% card.tags.forEach((tag) => { %>
                                <h5 style="background-color: #<%= tag.tagColor %>"><%= tag.tagName %></h5>
                            <% }) %>
                        </div>
                        <h2 class="card-title"><%= card.carTitle %></h2>
                        <p class="card-desc"><%= card.carDesc %></p>
                        <p class="card-content"><%= card.carContent %></p>
                        <p class="card-metrique"><%= card.carMetrique %>/255</p>
                        <p class="card-link"><a href="http://localhost:8081/modify">Modifier</a></p>
                    </div>
                <% } else { left = true %>
                    <div class="card-main-right">
                            <div class="tag-content">
                                <% card.tags.forEach((tag) => { %>
                                    <h5 style="background-color: #<%= tag.tagColor %>"><%= tag.tagName %></h5>
                                <% }) %>
                            </div>
                            <h2 class="card-title"><%= card.carTitle %></h2>
                            <p class="card-desc"><%= card.carDesc %></p>
                            <p class="card-content"><%= card.carContent %></p>
                            <p class="card-metrique"><%= card.carMetrique %>/255</p>
                            <p class="card-link"><a href="/modify">Modifier</a> <a href="/delete">Supprimer</a></p>
                        </div>
                <% } %>
            <% }) %>
        </div>

        <% include ../models/footer %>
    </body>
</html>